Werkzeug==2.0.3
itsdangerous==2.0.1
flask==2.0.2
flask-restful==0.3.9
flask-cors==3.0.10
Flask-HTTPAuth==4.5.0
requests==2.27.1
Flask-APScheduler==1.12.3
xlrd==1.2.0
#pyDes==2.0.1
pycryptodome==3.14.1
beautifulsoup4==4.11.1
huaweicloudsdkcore==3.1.5
huaweicloudsdkecs==3.1.5
huaweicloudsdkeps==3.1.5
huaweicloudsdkbss==3.1.5
huaweicloudsdkrds==3.1.5
alibabacloud_resourcemanager20200331==2.1.1
alibabacloud_ecs20140526==2.1.1
alibabacloud_rds20140815==2.1.1
alibabacloud_bssopenapi20171214==2.0.5
tencentcloud-sdk-python-common==3.0.763
tencentcloud-sdk-python-cvm==3.0.763
tencentcloud-sdk-python-cdb==3.0.763
tencentcloud-sdk-python-dcdb==3.0.763
tencentcloud-sdk-python-billing==3.0.763
